@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body{
	font-size: 14px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #444444;
	background: #F0F0F0 url("bg.png") repeat top left;
}
.main-wrapper{
	margin: 5px auto;
	padding: 0;
	width: 980px;
	max-width: 980px;
	min-width: 980px;
	background-color: #FBFBFB;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
	border-top: 2px solid #F34C28;
	border-bottom: 2px solid #F34C28;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
}
.main-header{
	padding: 5px;
	margin: 0;
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.main-header .logo{
	float: left;
	margin: 0;
	padding: 0;
}
.main-header .logo img{
	margin: 0 10px 0 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	width: 130px;
	height: 50px;
}
.main-header .logo h1{
	display: block;
	float: left;
	font: 35px "sans-serif";
	margin: 0;
	padding: 0;
	line-height: 48px;
}
.main-header .links{
	float: right;
	margin: 0;
	padding: 0;
}
.main-header .links ul{
	margin: 0;
	padding: 0;
	display: block;
	list-style: disc;
}
.main-header .links ul li{
	list-style: disc;
	list-style-position: inside;
	color: #F34C28;
	padding: 0;
	margin: 4px 0;
	text-align: left;
}
.main-header .links ul li a{
	font: 16px "sans-serif";
	text-decoration: none;
	cursor: pointer;
	color: #F74E27;
}
.main-header .links ul li span{
	font: 16px "sans-serif";
	color: #444444;
	cursor: default;
}
.main-header .links ul li span::after,
.main-section-block ul li span::after,
.main-section-block ol li span::after,
.main-section-block p::after{
	content: ":";
}
.content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	align-self: flex-start;
	align-items: stretch;
	margin: 0;
	padding: 0;
}
.sidebar{
	width: 18%;
	max-width: 18%;
	min-width: 18%;
	padding: 4px;
	margin: 0;
	border-right: 1px solid rgba(0,0,0,.1);
}
.navigation{
	margin: 0;
	padding: 2px;
	border: 1px solid rgba(0,0,0,.1)
}
.navigation h2{
	display: block;
	padding: 2px 4px;
	margin: 0;
	background: #F3F3F3;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font: 600 18px Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #444444;
	text-align: left;
	cursor: default;
	
}
.navigation ul,
.navigation ol,
.main-section-block ul,
.main-section-block ol,
.main-section-block pre > ul,
.main-section-block pre > ol{
	margin: 0;
	padding: 0;
	display: block;
}
.navigation ul li,
.navigation ol li{
	list-style-position: inside;
	color: #444444;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	text-align: left;
}
.navigation ul li a,
.navigation ol li a{
	display: inline-block;
	padding: 2px 0;
	margin: 0;
	font: 16px "sans-serif";
	color: #444444;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
}
.navigation ul li a:hover,
.navigation ol li a:hover,
.navigation ul li a:focus,
.navigation ol li a:focus{
	outline: none;
	color: #F34C28;
}
.main{
	width: 80%;
	max-width: 80%;
	min-width: 80%;
	margin: 0;
	padding: 4px;
}
.main-section{
	padding: 2px;
	margin: 10px 0;
	border: 1px solid rgba(0,0,0,.1);
}
.main-section:first-child{
	margin-top: 0;
}
.main-section:last-child,
.main-section-block .pre:last-child,
.example__wrapper:last-child{
	margin-bottom: 0;
}
.main-section h2{
	display: block;
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-family: "monospace";
	color: #004891;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	cursor: default;
}
.main-section-block{
	margin: 4px;
	padding: 4px;
}
.main-section-block ul,
.main-section-block ol{
	margin-bottom: 5px;
} 
.main-section-block ul li,
.main-section-block ol li{
	padding: 2px 0;
	margin: 0;
	font: 16px "sans-serif";
	list-style-position: inside;
	color: #444444;
	text-decoration: none;
	text-align: left;
	cursor: default;
}
.main-section-block ul li a,
.main-section-block ol li a{
	font: 18px "sans-serif";
	text-decoration: underline;
	color: #F64E26;
	cursor: pointer;
}
.main-section-block ul li a:hover,
.main-section-block ol li a:hover,
.main-section-block ul li a:focus,
.main-section-block ol li a:focus{
	outline: none;
	text-decoration: none;
	color: #444444;
}
.main-section-block ul li span,
.main-section-block ol li span{
	font: 18px "sans-serif";
	color: #444444;
	cursor: default;
}
.main-section-block p{
	display: block;
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 1;
	font: 18px "serif";
	color: #444444;
	cursor: default;
}
.main-section-block .pre{
	display: block;
	padding: 4px 8px;
	margin: 0 0 5px 0;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
.main-section-block .pre > ul li,
.main-section-block .pre > ol li{
	margin: 5px 0;
	padding: 0;
	font: 16px "serif";
	color: #414141;
	cursor: default;
}
.main-section-block .pre > p{
	display: block;
	margin: 0;
	padding: 0;
	font: 16px "serif";
	color: #414141;
	cursor: default;
} 
.main-section-block .pre > p::after{
	content: " ";
}
.main-section-block .pre > ul li::before,
.main-section-block .pre > ol li::before,
.main-section-block .pre > p::before{
	content: "\0024";
	font-size: 14px;
	font-family: "serif";
	color: #414141;
}
.example{
	margin: 8px 0 0 0;
	padding: 2px;
	border: 1px dashed #F64E26;
}
.example h3{
	display: block;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "monospace";
	color: #414141;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	cursor: default;
}
.example__wrapper{
	margin: 4px;
	padding: 4px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	align-self: flex-start;
	align-items: stretch;
}
.example-screenshot__large{
	width: 48%;
	max-width: 48%;
	min-width: 48%;
	height: 200px;
	max-height: 200px;
	margin: 0;
	padding: 1px;
	border: 1px solid rgba(0,0,0,.1);
}
.example-screenshot__large img{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
}
.main-footer{
	margin: 0;
	padding: 4px;
	border-top: 1px solid rgba(0,0,0,.1);
}
.main-footer p{
	margin: 0 auto;
	padding: 0;
	font: 14px "sans-serif";
	color: #444444;
	text-align: center;
	text-decoration: none;
	cursor: default;
}
.main-footer p a{
	font: 14px "sans-serif";
	text-decoration: none;
	cursor: pointer;
	color: #F74E27;
}
.main-footer p a:hover,
.main-footer p a:focus,
.main-header .links ul li a:hover,
.main-header .links ul li a:focus{
	outline: none;
	text-decoration: underline;
	color: #004891;
}